.App {
  text-align: center;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

@media (max-width: 768px) {
body {
    overflow-x: hidden;
    width: 100%;
}

header {
    padding: 5px;
}

.logo {
    margin-left: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    margin-top: 20px;
    display: none;
}

nav li {
    margin-left: 30px;
}

nav li:last-child {
    margin-right: 40px;
}

h1 {
    margin-top: -300px;
    font-size: 40px;
    width: 80%;
}

h2 {
    font-size: 20px;
    margin-bottom: 30px;
    width: 80%;
}

.image img {
    width: 250px;
}

.landingpage-button {
    font-size: 20px;
    width: 80%;
}

.section {
    margin-top: -300px;
}

.section h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.box h3 {
    font-size: 16px;
}

.box p {
    font-size: 12px;
}

.boxes {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.box {
    width: 80%;
    margin: 0 auto 20px;
    align-items: center;
}

.box img {
    width: 80%;
}

.boxes .box + .box {
    margin-left: 0;
  }
}

