/* Estilos para telas maiores (desktop) */
.App {
  text-align: center;
}

header {
  background-color: rgb(0, 0, 0);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 50px;
}

.logo img {
  width: 30px;
}

nav {
  font-family: "Poppins", sans-serif;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-left: 50px;
}

nav li:last-child {
  margin-right: 80px;
}

nav li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.landing-page {
  display: flex;
  height: calc(100vh - 58px);
  background-color: rgb(10, 10, 10);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 58px;
  margin-bottom: 5px;
  color: white;
  font-family: "Poppins Bold", sans-serif;
}

h2 {
  font-size: 24px;
  color: white;
  font-family: "Poppins Bold", sans-serif;
  margin-bottom: 50px;
  display: inline-block;
  width: auto;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.image img {
  width: 400px;
  height: auto; 
}

.landingpage-button {
  background-color: transparent; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 25px;
  height: auto;
  font: "Poppins Bold";
  bottom: 0;
  width: 50%;
  border: 2px solid white;
}

.section {
  background-color: rgb(12, 12, 12);
  padding: 40px;
  text-align: center;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 40px;
  color: white;
  font-family: "Poppins Bold", sans-serif;
}

.boxes {
  display: flex;
  justify-content: space-between;
}

.box {
  flex: 1;
  padding: 20px;
  background-color: rgb(30, 30, 30);
  text-align: center;
}

.box img {
  height: 200px;
  margin-bottom: 10px;
}

.box h3 {
  font-size: 18px;
  margin-bottom: 6px;
  color: white;
  font-family: "Poppins SemiBold", sans-serif;
}

.box p {
  font-size: 14px;
  color: white;
  font-family: "Poppins Regular", sans-serif;
}

.boxes .box + .box {
  margin-left: 40px;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
    width: 100%;
  }

  header {
    padding: 5px;
  }

  .logo {
    margin-left: 20px;
  }

  .content {
    display: flex;
    flex-direction: column; /* Itens dispostos em coluna */
    align-items: center; /* Alinhar os itens no centro */
  }

  .image {
    margin-top: 20px; /* Espaçamento entre o botão e a imagem em dispositivos desktop */
    display: none;
  }

  nav li {
    margin-left: 30px;
  }

  nav li:last-child {
    margin-right: 40px;
  }

  h1 {
    margin-top: -300px;
    font-size: 40px;
    width: 80%;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 30px;
    width: 80%;
  }

  .image img {
    width: 250px;
  }

  .landingpage-button {
    font-size: 20px;
    width: 80%;
  }

  .section {
    margin-top: -300px;
  }

  .section h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .box h3 {
    font-size: 16px;
  }

  .box p {
    font-size: 12px;
  }

  .boxes {
    flex-direction: column; /* Itens dispostos em coluna */
    display: flex;
    align-items: center; /* Centralizar horizontalmente */
    justify-content: center; 
  }

  .box {
    width: 80%;
    margin: 0 auto 20px; /* Margem vertical de 20px e centralizar horizontalmente */
    align-items: center;
  }

  .box img {
    width: 80%;
  }

  .boxes .box + .box {
    margin-left: 0; /* Define a margem esquerda como zero */
  }
}

